modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
